@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=DM+Sans:wght@500;600;700;900&family=JetBrains+Mono:wght@400;500;600;700&display=swap');
@import url('https://use.fontawesome.com/releases/v6.0.0/css/all.css');

.mobile {
  display: none !important;
}

.pc {
  display: inherit !important;
}

#__next {
  height: 100%;
}

@media (prefers-color-scheme: light) {
  html {
    --font-color: #17191b;
    --special-color: #17191b;
    --hsl-special-color: hsl(210, 8%, 10%);
    --hsl-special-color-end: hsl(204, 14%, 14%);

    --background: #eaeaeb;
    --background-light: #dedede;
    --background-slight-dark: #eaeaeb;
    --background-dark: #c2c2c2;
    --background-darker: #8f8f8f;

    --hsl-background-slight-dark: hsl(240, 2%, 92%);
    --hsl-background-dark: hsl(0, 0%, 76%);

    --code-editor: #f6f6f6;

    --red: #ee4646;
    --purple: #aa61d6;
    --purple-dark: #8d40bc;
    --orange: #c27d24;
    --green: #45db4b;
    transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .cm-tooltip-autocomplete {
    border-radius: 8px;
    padding: 4px;
    background: var(--background-light) !important;
  }

  .cm-tooltip li {
    color: var(--special-color);
    font-family: 'JetBrains Mono';
    font-size: 14px;
    border-radius: 5px;
    padding: 2px 4px;
    border: 1px solid transparent;
  }

  .cm-tooltip li[aria-selected] {
    color: var(--special-color) !important;
    background: var(--background-dark) !important;
    font-weight: 800 !important;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    --font-color: #cad4e2;
    --special-color: #abb8cc;
    --hsl-special-color: hsl(216, 24%, 74%);
    --hsl-special-color-end: hsl(217, 16%, 51%);

    --background: #212428;
    --background-light: #31353e;
    --background-slight-dark: #282c33;
    --background-dark: #17191b;
    --background-darker: #141618;

    --hsl-background-slight-dark: hsl(218, 12%, 18%);
    --hsl-background-dark: hsl(210, 8%, 10%);

    --code-editor: #272c35;

    --red: #db4545;
    --purple: #aa61d6;
    --purple-dark: #8d40bc;
    --orange: #ff9c1c;
    --green: #45db4b;
    transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .cm-tooltip-autocomplete {
    border-radius: 8px;
    padding: 4px;
    background: var(--background-dark) !important;
  }

  .cm-tooltip li {
    color: var(--special-color);
    font-family: 'JetBrains Mono';
    font-size: 14px;
    border-radius: 5px;
    padding: 2px 4px;
    border: 1px solid transparent;
  }

  .cm-tooltip li[aria-selected] {
    color: var(--background-dark) !important;
    background: var(--special-color) !important;
    font-weight: 800 !important;
  }
}

html[data-theme='light'] {
  --font-color: #17191b;
  --special-color: #17191b;
  --hsl-special-color: hsl(210, 8%, 10%);

  --background: #eaeaeb;
  --background-light: #dedede;
  --background-slight-dark: #eaeaeb;
  --background-dark: #c2c2c2;
  --background-darker: #8f8f8f;

  --hsl-background-dark: hsl(0, 0%, 76%);

  --code-editor: #f6f6f6;

  --red: #ee4646;
  --orange: #c27d24;
  --purple: #aa61d6;
  --purple-dark: #8d40bc;
  --green: #45db4b;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

html[data-theme='dark'] {
  --font-color: #cad4e2;
  --special-color: #abb8cc;
  --hsl-special-color: hsl(216, 24%, 74%);

  --background: #212428;
  --background-light: #31353e;
  --background-slight-dark: #282c33;
  --background-dark: #17191b;
  --background-darker: #141618;

  --hsl-background-dark: hsl(210, 8%, 10%);

  --code-editor: #272c35;

  --red: #db4545;
  --purple: #aa61d6;
  --purple-dark: #8d40bc;
  --orange: #ff9c1c;
  --green: #45db4b;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'DM Sans';
  color: var(--font-color);
  scrollbar-width: thin;
  scrollbar-color: var(--background-darker) var(--code-editor);
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  height: auto;
}

h1,
h2,
h3,
h4,
button,
a,
p {
  font-family: 'DM Sans';
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

button,
a,
p {
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  font-size: 16px;
}

b {
  font-weight: 900 !important;
}

* {
  box-sizing: border-box;
}

input[type='file'] {
  display: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 16px;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
}

::-webkit-scrollbar-track {
  background-color: var(--code-editor);
}

::-webkit-scrollbar-track:hover {
  background-color: var(--code-editor);
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
  background: var(--background-darker);
  border-radius: 16px;
  border: 6px solid var(--code-editor);
}

::-webkit-scrollbar-thumb:hover {
  border: 5px solid var(--code-editor);
}

::-webkit-scrollbar-corner {
  background: var(--code-editor);
}

::-webkit-scrollbar-button {
  display: none;
}

header {
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.edit:before {
  content: '';
  background: var(--background-dark);
  position: absolute;
  height: 20px;
  width: 20px;
  top: -10px;
  right: 50%;
  transform: rotate(45deg);
}

.edit {
  display: none;
  padding: 18px 16px;
  background: var(--background-dark);
  border-radius: 34px;
  position: absolute;
  z-index: 50;
}

.edit form {
  display: flex;
  gap: 8px;
  flex-direction: column;
  width: 220px;
}

input {
  padding: 6px 12px;
  border-radius: 50px;
  color: var(--special-color) !important;
  background: var(--background-light);
  font-family: 'DM Sans';
  border: 2px solid var(--background-light) !important;
}

.edit form input,
.edit form p {
  padding: 6px 12px;
  border-radius: 50px;
  border: 3px solid var(--background-light) !important;
  color: var(--special-color);
  background: var(--background-dark);
  font-size: 18px;
  font-family: 'JetBrains Mono';
  margin: 0;
  font-weight: 700;
  height: 40px;
  display: flex;
  align-items: center;
}

input::placeholder {
  color: var(--special-color);
}

.edit form button {
  padding: 6px 12px;
  font-family: 'DM Sans';
  background: var(--red);
  border-radius: 50px;
  font-weight: 700;
  height: 38px;
  color: #17191b;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.edit form button:hover {
  transform: scale(0.98);
  cursor: pointer;
  box-shadow: 0px 0px 24px var(--red);
}

.edit form button:active,
dialog form button:active {
  transform: scale(0.93);
}

a:hover,
button:hover {
  transform: scale(0.98);
  cursor: pointer;
}

a:active,
button:active {
  transform: scale(0.93);
}

.cm-editor {
  font-family: 'JetBrains Mono' !important;
  height: 77.3vh;
}

.cm-scroller {
  font-family: 'JetBrains Mono' !important;
  font-size: 14px;
}

.cm-gutter {
  user-select: none;
}

[data-theme='dark'] .cm-activeLineGutter {
  color: rgba(255, 255, 255, 0.7);
}

.codeWrapper {
  transition: 0.2s cubic-bezier(0.51, 0.69, 0.46, 0.96);
  overflow: hidden;
  background: var(--background-light);
  border-top-left-radius: 38px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border: 5px solid var(--background-dark);
  border-right: 0px;
  border-bottom: 0px;
}

.file-holder {
  transition: 0.2s cubic-bezier(0.51, 0.69, 0.46, 0.96);
  padding: 10px;
  border-bottom: 5px solid var(--background-dark);
  display: flex;
  gap: 14px;
}

button {
  border: none;
  font-size: 17px;
  background: transparent;
}

.fileSelect {
  background: var(--background);
  border: 3px dashed var(--background-darker);
  border-radius: 50px;
  padding: 6px 18px;
  display: flex;
  align-items: center;
  opacity: 0.7;
  box-shadow: 0px 0px 5px transparent;
  transition: 0.2s cubic-bezier(0.51, 0.69, 0.46, 0.96);
  transform: scale(0.95);
}

.active-file {
  background: var(--background-slight-dark) !important;
  border: 3px solid var(--background-darker) !important;
  box-shadow: 0px 0px 5px var(--background-slight-dark) !important;
  opacity: 1;
  transform: scale(1) !important;
}

.fileSelect:hover {
  transform: scale(0.95);
}

.fileSelect:active {
  transform: scale(0.9);
}

.fileSelect div,
.fileSelect .file {
  user-select: none;
  color: var(--special-color);
  font-family: 'DM Sans';
  font-weight: 600;
  font-size: 18px;
}

.fileSelect .file {
  align-items: center;
  display: flex;
}

.fileSelect div:hover {
  cursor: pointer;
}

.fileSelect.plus {
  background: var(--background-slight-dark);
  border: 3px solid var(--background-darker);
  border-radius: 50px;
  height: 44px;
  width: 44px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: flex-start !important;
}

.plus button {
  color: #17191b;
  font-weight: 800;
  font-size: 38px;
  margin-top: -9px;
}

.plus:has(button:disabled),
button:disabled {
  opacity: 0.6;
}
.plus button:disabled,
button:disabled {
  cursor: not-allowed !important;
}

dialog {
  background: var(--background-light);
  border-radius: 50px;
  border: none;
  z-index: 100;
}

dialog div {
  margin-bottom: 6px;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 8px;
  border-radius: 50px;
  color: var(--special-color);
}

dialog form button {
  padding: 6px 12px;
  font-family: 'DM Sans';
  background: var(--green);
  border-radius: 50px;
  font-weight: 700;
  height: 38px;
  color: #17191b;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

dialog form button:hover {
  transform: scale(0.98);
  cursor: pointer;
  box-shadow: 0px 0px 24px var(--green);
}

dialog form {
  display: flex;
  gap: 8px;
  flex-direction: column;
  width: 100%;

  padding: 14px 12px;
  border-radius: 38px;
  background: var(--background-slight-dark);
  border: 4px solid var(--background-dark);
  color: var(--special-color);
}

dialog h2 {
  margin: 0px;
}

dialog form input,
dialog form p {
  padding: 6px 12px;
  border-radius: 50px;
  border: 3px solid var(--background-darker) !important;
  color: var(--special-color);
  background: var(--background-dark);
  font-size: 18px;
  font-family: 'JetBrains Mono';
  margin: 0;
  font-weight: 700;
  height: 40px;
  display: flex;
  align-items: center;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.cm-panels {
  bottom: 0px;
  margin: 10px;
  border-radius: 12px;
  padding: 5px;
  background: var(--background-dark) !important;
}

.cm-button {
  background: var(--background-slight-dark) !important;
  border: 2px solid transparent !important;
  border-radius: 8px !important;
  font-family: 'JetBrains Mono';
  color: var(--special-color) !important;
  text-transform: capitalize;
}

.cm-panel label {
  color: var(--special-color);
  cursor: pointer;
  text-transform: capitalize;
}

.enc {
  color: var(--green);
  opacity: 0.8;
}

[data-theme='light'] .enc {
  color: var(--special-color);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 58px;
  height: 32px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #17191b;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  content: '\f00d';
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
  transform: rotate(-90deg);
  font-size: 20px;
  text-align: center;
  color: #17191b;
  line-height: 29px;
  height: 28px;
  width: 28px;
  left: 2px;
  bottom: 2px;
  background-color: var(--red);
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

input:checked + .slider:before {
  content: '\f00c';
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
  font-size: 16px;

  background-color: var(--green);
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.ͼ1 .cm-line {
  display: block;
  margin: 0 2px 0 6px !important;
  padding: 0px 2px 0px 0px !important;
}

div.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  /* If you want dots under the hoverable text */
}

/* Tooltip text */
span.tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: var(--background-dark);
  backdrop-filter: blur(8px);
  color: var(--special-color);
  text-align: center;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 10px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.tooltip .tooltiptext.gridy div {
  display: flex;
  gap: 10px;
  align-items: center;
}

.tooltiptext.gridy {
  display: grid;
  grid-template-columns: 1.6fr 0.4fr;
  grid-template-rows: 1fr;
  gap: 6px 12px;
  grid-template-areas: '. .';
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--background-dark) transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.rick:hover:before {
  content: 'rick-rolled x-x';
}

.rick p {
  margin: 0;
}

.rick:hover p {
  display: none;
}

.file-holder.bin-copy {
  justify-content: space-between;
}

.clicked-copy {
  color: var(--background-dark) !important;
  background-color: var(--green) !important;
}

[data-theme='light'] .clicked-copy {
  color: var(--special-color) !important;
}

.codeWrapper:hover .codeCopy {
  margin-top: 10px;
  opacity: 1;
}

.errorCode {
  width: fit-content;
  font-size: 24px;
  color: var(--special-color);
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.splitter {
  border: 1.5px var(--purple-dark) solid;
  border-radius: 10px;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

footer {
  display: flex;
  justify-content: center;
  font-size: 22px;
  color: var(--special-color);
  font-family: 'JetBrains Mono';
  gap: 8px;
  border-top: 2px solid var(--purple-dark);
  padding-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
  width: -webkit-fill-available;
  align-items: center;
}

footer a {
  font-size: 22px;
  color: var(--special-color);
  font-family: 'JetBrains Mono';
  transition: 0.3s cubic-bezier(0.51, 0.69, 0.46, 0.96);
  background: var(--background-darker);
  padding: 2px 9px;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid transparent;
}

footer a:hover {
  border: 2px solid var(--special-color);
}

footer a:active {
  transform: translateY(-5px);
}

hr {
  margin: 20px;
}

[data-theme='dark'] .cm-tooltip-autocomplete {
  box-shadow: 0px 0px 10px var(--background-dark) !important;
  border-radius: 8px;
  padding: 4px;
  background: var(--background-dark) !important;
}

[data-theme='dark'] .cm-tooltip li {
  color: var(--special-color);
  font-family: 'JetBrains Mono';
  font-size: 14px;
  border-radius: 5px;
  padding: 2px 4px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  gap: 6px;
}

[data-theme='dark'] .cm-tooltip li[aria-selected] {
  color: var(--background-dark) !important;
  background: var(--special-color) !important;
  font-weight: 800 !important;
}

[data-theme='light'] .cm-tooltip-autocomplete {
  box-shadow: 0px 0px 10px var(--background-dark) !important;
  border-radius: 8px;
  padding: 4px;
  background: var(--background-light) !important;
}

[data-theme='light'] .cm-tooltip li {
  color: var(--special-color);
  font-family: 'JetBrains Mono';
  font-size: 14px;
  border-radius: 5px;
  padding: 2px 4px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  gap: 6px;
}

[data-theme='light'] .cm-tooltip li[aria-selected] {
  color: var(--special-color) !important;
  background: var(--background-dark) !important;
  font-weight: 800 !important;
}

.cm-tooltip.cm-tooltip-autocomplete > ul::-webkit-scrollbar {
  width: 2px;
}

/** TYPE */
.cm-tooltip li[aria-selected] .cm-completionIcon-type:after {
  content: url("data:image/svg+xml;charset=UTF-8,%3csvg stroke='currentColor' fill='currentColor' stroke-width='0' viewBox='0 0 16 16' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'%3e%3ctitle%3eIcon%3c/title%3e%3cpath d='M11.496 4a3.49 3.49 0 0 0-3.46 3h-3.1a2 2 0 1 0 0 1h3.1a3.5 3.5 0 1 0 3.46-4zm0 6a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5z' color='%23000000'%3e%3c/path%3e%3c/svg%3e") !important;
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
}

.cm-completionIcon-type:after {
  content: url("data:image/svg+xml;charset=UTF-8,%3csvg stroke='currentColor' fill='currentColor' stroke-width='0' viewBox='0 0 16 16' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'%3e%3ctitle%3eIcon%3c/title%3e%3cpath d='M11.496 4a3.49 3.49 0 0 0-3.46 3h-3.1a2 2 0 1 0 0 1h3.1a3.5 3.5 0 1 0 3.46-4zm0 6a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5z' color='%23de7a62'%3e%3c/path%3e%3c/svg%3e") !important;
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
}

/** KEYWORD */

.cm-tooltip li[aria-selected] .cm-completionIcon-keyword:after {
  content: url("data:image/svg+xml;charset=UTF-8,%3csvg stroke='currentColor' fill='currentColor' stroke-width='0' viewBox='0 0 16 16' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'%3e%3ctitle%3eIcon%3c/title%3e%3cpath d='M15 4h-5V3h5v1zm-1 3h-2v1h2V7zm-4 0H1v1h9V7zm2 6H1v1h11v-1zm-5-3H1v1h6v-1zm8 0h-5v1h5v-1zM8 2v3H1V2h7zM7 3H2v1h5V3z' color='%23000000'%3e%3c/path%3e%3c/svg%3e") !important;
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
}

.cm-completionIcon-keyword:after {
  content: url("data:image/svg+xml;charset=UTF-8,%3csvg stroke='currentColor' fill='currentColor' stroke-width='0' viewBox='0 0 16 16' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'%3e%3ctitle%3eIcon%3c/title%3e%3cpath d='M15 4h-5V3h5v1zm-1 3h-2v1h2V7zm-4 0H1v1h9V7zm2 6H1v1h11v-1zm-5-3H1v1h6v-1zm8 0h-5v1h5v-1zM8 2v3H1V2h7zM7 3H2v1h5V3z' color='%23e54747'%3e%3c/path%3e%3c/svg%3e") !important;
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
}

/** CLASS */
.cm-tooltip li[aria-selected] .cm-completionIcon-class:after {
  content: url("data:image/svg+xml;charset=UTF-8,%3csvg stroke='currentColor' fill='currentColor' stroke-width='0' viewBox='0 0 16 16' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'%3e%3ctitle%3eIcon%3c/title%3e%3cpath d='M11.34 9.71h.71l2.67-2.67v-.71L13.38 5h-.7l-1.82 1.81h-5V5.56l1.86-1.85V3l-2-2H5L1 5v.71l2 2h.71l1.14-1.15v5.79l.5.5H10v.52l1.33 1.34h.71l2.67-2.67v-.71L13.37 10h-.7l-1.86 1.85h-5v-4H10v.48l1.34 1.38zm1.69-3.65l.63.63-2 2-.63-.63 2-2zm0 5l.63.63-2 2-.63-.63 2-2zM3.35 6.65l-1.29-1.3 3.29-3.29 1.3 1.29-3.3 3.3z' color='%23000000'%3e%3c/path%3e%3c/svg%3e") !important;
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
}

.cm-completionIcon-class:after {
  content: url("data:image/svg+xml;charset=UTF-8,%3csvg stroke='currentColor' fill='currentColor' stroke-width='0' viewBox='0 0 16 16' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'%3e%3ctitle%3eIcon%3c/title%3e%3cpath d='M11.34 9.71h.71l2.67-2.67v-.71L13.38 5h-.7l-1.82 1.81h-5V5.56l1.86-1.85V3l-2-2H5L1 5v.71l2 2h.71l1.14-1.15v5.79l.5.5H10v.52l1.33 1.34h.71l2.67-2.67v-.71L13.37 10h-.7l-1.86 1.85h-5v-4H10v.48l1.34 1.38zm1.69-3.65l.63.63-2 2-.63-.63 2-2zm0 5l.63.63-2 2-.63-.63 2-2zM3.35 6.65l-1.29-1.3 3.29-3.29 1.3 1.29-3.3 3.3z' color='%23e58e47'%3e%3c/path%3e%3c/svg%3e") !important;
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
}

/** FUNCTION */
.cm-tooltip li[aria-selected] .cm-completionIcon-function:after {
  content: url("data:image/svg+xml;charset=UTF-8,%3csvg stroke='currentColor' fill='currentColor' stroke-width='0' viewBox='0 0 24 24' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'%3e%3ctitle%3eIcon%3c/title%3e%3cpath d='M12.42 5.29c-1.1-.1-2.07.71-2.17 1.82L10 10h2.82v2h-3l-.44 5.07A4.001 4.001 0 012 18.83l1.5-1.5c.33 1.05 1.46 1.64 2.5 1.3.78-.24 1.33-.93 1.4-1.74L7.82 12h-3v-2H8l.27-3.07a4.01 4.01 0 014.33-3.65c1.26.11 2.4.81 3.06 1.89l-1.5 1.5c-.25-.77-.93-1.31-1.74-1.38M22 13.65l-1.41-1.41-2.83 2.83-2.83-2.83-1.43 1.41 2.85 2.85-2.85 2.81 1.43 1.41 2.83-2.83 2.83 2.83L22 19.31l-2.83-2.81L22 13.65z' color='%23000000'%3e%3c/path%3e%3c/svg%3e") !important;
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
}

.cm-completionIcon-function:after {
  content: url("data:image/svg+xml;charset=UTF-8,%3csvg stroke='currentColor' fill='currentColor' stroke-width='0' viewBox='0 0 24 24' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'%3e%3ctitle%3eIcon%3c/title%3e%3cpath d='M12.42 5.29c-1.1-.1-2.07.71-2.17 1.82L10 10h2.82v2h-3l-.44 5.07A4.001 4.001 0 012 18.83l1.5-1.5c.33 1.05 1.46 1.64 2.5 1.3.78-.24 1.33-.93 1.4-1.74L7.82 12h-3v-2H8l.27-3.07a4.01 4.01 0 014.33-3.65c1.26.11 2.4.81 3.06 1.89l-1.5 1.5c-.25-.77-.93-1.31-1.74-1.38M22 13.65l-1.41-1.41-2.83 2.83-2.83-2.83-1.43 1.41 2.85 2.85-2.85 2.81 1.43 1.41 2.83-2.83 2.83 2.83L22 19.31l-2.83-2.81L22 13.65z' color='%23b726ff'%3e%3c/path%3e%3c/svg%3e") !important;
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
}

/** VARIABLE */
.cm-tooltip li[aria-selected] .cm-completionIcon-variable:after {
  content: url("data:image/svg+xml;charset=UTF-8,%3csvg stroke='currentColor' fill='currentColor' stroke-width='0' viewBox='0 0 16 16' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'%3e%3ctitle%3eIcon%3c/title%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 5h2V4H1.5l-.5.5v8l.5.5H4v-1H2V5zm12.5-1H12v1h2v7h-2v1h2.5l.5-.5v-8l-.5-.5zm-2.74 2.57L12 7v2.51l-.3.45-4.5 2h-.46l-2.5-1.5-.24-.43v-2.5l.3-.46 4.5-2h.46l2.5 1.5zM5 9.71l1.5.9V9.28L5 8.38v1.33zm.58-2.15l1.45.87 3.39-1.5-1.45-.87-3.39 1.5zm1.95 3.17l3.5-1.56v-1.4l-3.5 1.55v1.41z' color='%23000000'%3e%3c/path%3e%3c/svg%3e") !important;
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
}

.cm-completionIcon-variable:after {
  content: url("data:image/svg+xml;charset=UTF-8,%3csvg stroke='currentColor' fill='currentColor' stroke-width='0' viewBox='0 0 16 16' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'%3e%3ctitle%3eIcon%3c/title%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 5h2V4H1.5l-.5.5v8l.5.5H4v-1H2V5zm12.5-1H12v1h2v7h-2v1h2.5l.5-.5v-8l-.5-.5zm-2.74 2.57L12 7v2.51l-.3.45-4.5 2h-.46l-2.5-1.5-.24-.43v-2.5l.3-.46 4.5-2h.46l2.5 1.5zM5 9.71l1.5.9V9.28L5 8.38v1.33zm.58-2.15l1.45.87 3.39-1.5-1.45-.87-3.39 1.5zm1.95 3.17l3.5-1.56v-1.4l-3.5 1.55v1.41z' color='%23999fff'%3e%3c/path%3e%3c/svg%3e") !important;
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
}

.cm-tooltip-autocomplete > ul > li {
  display: flex;
  gap: 6px;
  align-items: center;
}

.droppy {
  opacity: 1 !important;
  visibility: visible !important;
}
.droppy .dropNotif {
  transform: scale(1.3);
}

.dragging,
.dragging * {
  pointer-events: none;
}

.signin-btn {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 64vh;
  background: var(--background-dark);
  border-radius: 28px;
  border: 2px solid var(--background-light);
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 50px 10px var(--background-darker);
}

[data-theme="light"] .signin-btn {
  background: var(--background-light);
}

.signin-btn .details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin-btn .details p {
  padding: 2px 20px;
  text-align: center;
  opacity: 0.6;
  margin: 0;
  font-size: 15px;
}

.signin-btn .details ul {
  font-size: 16px;

  padding: 0;
  text-align: left;
  font-family: 'JetBrains Mono';
}

.signin-btn button {
  background: rgb(13 15 16);
  padding: 12px 24px;
  border-radius: 14px;
  color: white;
  font-family: 'DM Sans';
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 12px;
}

.signin-lander {
  margin: 0px 30px;
  border-radius: 20px;
  background-image: repeating-linear-gradient(
    -45deg,
    #8d40bcd4,
    #8d40bcd4 1px,
    transparent 1px,
    transparent 6px
  );
  background-size: 4px 4px;
}

.signin-lander:after {
  box-shadow: 0px 0px 220px 100px rgba(141, 64, 188, 0.42);
  content: '';
  position: absolute;
  margin-top: -3rem;
}

.signin-lander:before {
  box-shadow: 0px 0px 220px 100px rgba(141, 64, 188, 0.42);
  content: '';
  position: absolute;
  right: 110px;
  margin-top: 8rem;
}


.error-land:after {
  box-shadow: 0px 0px 220px 100px var(--red);
  content: '';
  position: absolute;
  margin-top: -2rem;
  opacity: 0.4;
}

.error-land:before {
  box-shadow: 0px 0px 220px 100px var(--red);
  opacity: 0.4;
  content: '';
  position: absolute;
  right: 110px;
  margin-top: 8rem;
}