@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&family=JetBrains+Mono:wght@400;500;600;700&display=swap');
@import url('https://use.fontawesome.com/releases/v6.0.0/css/all.css');

.mobile {
  display: none !important;
}

.pc {
  display: inherit !important;
}

@media (prefers-color-scheme: light) {
  html {
    --font-color: #17191B;
    --special-color: #17191B;
    --hsl-special-color: hsl(210, 8%, 10%);
    --hsl-special-color-end: hsl(204, 14%, 14%);

    --background: #EAEAEB;
    --background-light: #DEDEDE;
    --background-slight-dark: #EAEAEB;
    --background-dark: #C2C2C2;
    --background-darker: #8f8f8f;

    --hsl-background-slight-dark: hsl(240, 2%, 92%);
    --hsl-background-dark: hsl(0, 0%, 76%);

    --red: #ee4646;
    --green: #45DB4B;
    transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background: var(--background);
    background: linear-gradient(135deg, var(--background) 0%, var(--background-dark) 100%);
  }
}


@media (prefers-color-scheme: dark) {
  html {
    --font-color: #dde1e3;
    --special-color: #ABB8CC;
    --hsl-special-color: hsl(216, 24%, 74%);
    --hsl-special-color-end: hsl(217, 16%, 51%);

    --background: #212428;
    --background-light: #31353E;
    --background-slight-dark: #282c33;
    --background-dark: #17191B;
    --background-darker: #141618;

    --hsl-background-slight-dark: hsl(218, 12%, 18%);
    --hsl-background-dark: hsl(210, 8%, 10%);

    --red: #DB4545;
    --green: #45DB4B;
    transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background: var(--background);
    background: linear-gradient(135deg, var(--background) 0%, var(--background-dark) 100%);
  }
}

html[data-theme="light"] {
  --font-color: #17191B;
  --special-color: #17191B;
  --hsl-special-color: hsl(210, 8%, 10%);

  --background: #EAEAEB;
  --background-light: #DEDEDE;
  --background-slight-dark: #EAEAEB;
  --background-dark: #C2C2C2;
  --background-darker: #8f8f8f;

  --hsl-background-dark: hsl(0, 0%, 76%);

  --red: #ee4646;
  --green: #45DB4B;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background: var(--background);
  background: linear-gradient(135deg, var(--background) 0%, var(--background-dark) 100%);
}

html[data-theme="dark"] {
  --font-color: #dde1e3;
  --special-color: #ABB8CC;
  --hsl-special-color: hsl(216, 24%, 74%);

  --background: #212428;
  --background-light: #31353E;
  --background-slight-dark: #282c33;
  --background-dark: #17191B;
  --background-darker: #141618;

  --hsl-background-dark: hsl(210, 8%, 10%);

  --red: #DB4545;
  --green: #45DB4B;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  background: var(--background);
  background: linear-gradient(135deg, var(--background) 0%, var(--background-dark) 100%);
}

html,
body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: "DM Sans";
  color: var(--font-color);
  scrollbar-width: thin;
  scrollbar-color: var(--background-dark) #272c35;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

h1,
h2,
h3,
h4,
button,
a {

  font-family: "DM Sans";
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}


::-webkit-scrollbar {
  width: 16px;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
}

::-webkit-scrollbar-track {
  background-color: #272c35;
}

::-webkit-scrollbar-track:hover {
  background-color: #272c35;
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
  background: var(--background-dark);
  border-radius: 16px;
  border: 6px solid #272c35;
}

::-webkit-scrollbar-thumb:hover {
  border: 5px solid #272c35;
}

::-webkit-scrollbar-corner {
  background: #272c35;
}

::-webkit-scrollbar-button {
  display: none
}

dialog {
  z-index: 100;
}

header {
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
}

.edit:before {
  content: '';
  background: var(--background-dark);
  position: absolute;
  height: 20px;
  width: 20px;
  top: -10px;
  right: 50%;
  transform: rotate(45deg);
}

.edit {
  display: none;
  padding: 18px 16px;
  background: var(--background-dark);
  border-radius: 34px;
  position: absolute;
  z-index: 50;
}

.edit form {
  display: flex;
  gap: 8px;
  flex-direction: column;
  width: 220px;
}

input {
  padding: 6px 12px;
  border-radius: 50px;
  color: var(--special-color) !important;
  background: var(--background-light);
  font-family: "DM Sans";
  border: 2px solid var(--background-light) !important;
}

.edit form input,
.edit form p {
  padding: 6px 12px;
  border-radius: 50px;
  border: 3px solid var(--background-light) !important;
  color: var(--special-color);
  background: var(--background-dark);
  font-size: 18px;
  font-family: "JetBrains Mono";
  margin: 0;
  font-weight: 700;
  height: 40px;
  display: flex;
  align-items: center;
}

input::placeholder {
  color: var(--special-color);
}

.edit form button {
  padding: 6px 12px;
  font-family: "DM Sans";
  background: var(--red);
  border-radius: 50px;
  font-weight: 700;
  height: 38px;
  color: #17191B;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.edit form button:hover {
  transform: scale(0.98);
  cursor: pointer;
  box-shadow: 0px 0px 24px var(--red);
}

.edit form button:active,
dialog form button:active {
  transform: scale(0.93);
}

a:hover,
button:hover {
  transform: scale(0.98);
  cursor: pointer;
}

a:active,
button:active {
  transform: scale(0.93);
}



.cm-editor {
  font-family: "JetBrains Mono" !important;
  height: 77.3vh;
}

.cm-scroller {
  font-family: "JetBrains Mono" !important;
  font-size: 14px;
}

.cm-gutter {
  user-select: none;
}

[data-theme="dark"] .cm-activeLineGutter {
  color: rgba(255, 255, 255, 0.7);
}

.codeWrapper {
  transition: 0.1s cubic-bezier(0.51, 0.69, 0.46, 0.96);
  overflow: hidden;
  background: var(--background-light);
  border-top-left-radius: 38px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border: 5px solid var(--background-dark);
  border-right: 0px;
  border-bottom: 0px;
}

.file-holder {
  transition: 0.1s cubic-bezier(0.51, 0.69, 0.46, 0.96);
  padding: 10px;
  border-bottom: 5px solid var(--background-dark);
  display: flex;
  gap: 14px;
}

button {
  border: none;
  font-size: 17px;
  background: transparent;
}

.fileSelect {
  background: var(--background-dark);
  border: 3px solid var(--background-dark);
  border-radius: 50px;
  padding: 6px 18px;
  display: flex;
  opacity: 0.7;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.active-file {
  opacity: 1;
  background: var(--background-slight-dark);
  border: 3px solid var(--background-darker);
}

.fileSelect:hover {

  transform: scale(0.95);
}

.fileSelect:active {
  transform: scale(0.9);
}

.fileSelect button {
  user-select: none;
  color: var(--special-color);
  font-family: "DM Sans";
  font-weight: 600;
  font-size: 18px;
}

.fileSelect button:nth-of-type(2) {
  align-items: center;
  display: flex;
}

.fileSelect button:hover {
  cursor: pointer;
}

.fileSelect.plus {
  background: var(--background-slight-dark);
  border: 3px solid var(--background-darker);
  border-radius: 50px;
  height: 44px;
  width: 44px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.plus button {
  color: #17191B;
  font-weight: 800;
  font-size: 38px;
  margin-top: -9px;
}

.plus:has(button:disabled),
.plus button:disabled {
  visibility: hidden;
}

button:disabled {
  opacity: 0.3;
  cursor: not-allowed !important;
}

dialog {
  background: var(--background-slight-dark);
  border: 4px solid var(--background-dark);
  border-radius: 40px;
  color: var(--special-color);
}


dialog div {
  margin: 16px 0px;
  margin-top: 6px;
  display: flex;
  gap: 16px;
  align-items: center;
}


dialog form button {
  padding: 6px 12px;
  font-family: "DM Sans";
  background: var(--green);
  border-radius: 50px;
  font-weight: 700;
  height: 38px;
  color: #17191B;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

dialog form button:hover {
  transform: scale(0.98);
  cursor: pointer;
  box-shadow: 0px 0px 24px var(--green);
}

dialog form {
  display: flex;
  gap: 8px;
  flex-direction: column;
  width: 100%;
}

dialog h2 {
  margin: 0px;
}

dialog form input,
dialog form p {
  padding: 6px 12px;
  border-radius: 50px;
  border: 3px solid var(--background-darker) !important;
  color: var(--special-color);
  background: var(--background-dark);
  font-size: 18px;
  font-family: "JetBrains Mono";
  margin: 0;
  font-weight: 700;
  height: 40px;
  display: flex;
  align-items: center;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.cm-panels {
  bottom: 0px;
  margin: 10px;
  border-radius: 12px;
  padding: 5px;
  background: var(--background-dark) !important;
}

.cm-button {
  background: var(--background-slight-dark) !important;
  border: 2px solid transparent !important;
  border-radius: 8px !important;
  font-family: "JetBrains Mono";
  color: var(--special-color) !important;
  text-transform: capitalize;
}

.cm-panel label {
  color: var(--special-color);
  cursor: pointer;
  text-transform: capitalize;
}


.enc {
  color: var(--green);
  opacity: 0.8;
}

[data-theme="light"] .enc {
  color: var(--special-color);
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 58px;
  height: 32px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #17191B;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  content: '\f00d';
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
  transform: rotate(-90deg);
  font-size: 20px;
  text-align: center;
  color: #17191B;
  line-height: 29px;
  height: 28px;
  width: 28px;
  left: 2px;
  bottom: 2px;
  background-color: var(--red);
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

input:checked+.slider:before {
  content: "\f00c";
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
  font-size: 16px;

  background-color: var(--green);
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.Í¼1 .cm-line {
  display: block;
  margin: 0 2px 0 6px !important;
  padding: 0px 2px 0px 0px !important;
}

div.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  /* If you want dots under the hoverable text */
}

/* Tooltip text */
span.tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: var(--background-dark);
  backdrop-filter: blur(8px);
  color: var(--special-color);
  text-align: center;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 10px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.tooltip .tooltiptext.gridy div {
  display: flex;
  gap: 10px;
  align-items: center;
}

.tooltiptext.gridy {
  display: grid;
  grid-template-columns: 1.6fr 0.4fr;
  grid-template-rows: 1fr;
  gap: 6px 12px;
  grid-template-areas:
    ". .";
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--background-dark) transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.rick:hover:before {
  content: "rick-rolled x-x";
}

.rick p {
  margin: 0;
}

.rick:hover p {
  display: none;
}

.file-holder.bin-copy {
  justify-content: space-between;
}

.clicked-copy {
  color: var(--background-dark) !important;
  background-color: var(--green) !important;
}

[data-theme="light"] .clicked-copy {
  color: var(--special-color) !important;
}

.codeWrapper:hover .codeCopy {
  margin-top: 10px;
  opacity: 1;
}

.errorCode {
  width: fit-content;
  font-size: 24px;
  color: var(--special-color);
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

footer {
  display: flex;
  justify-content: center;
  font-size: 22px;
  color: var(--special-color);
  font-family: 'JetBrains Mono';
  gap: 8px;
  border-top: 2px solid var(--special-color);
  padding-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
}

footer a {
  font-size: 22px;
  color: var(--special-color);
  font-family: 'JetBrains Mono';
}