.container {
  padding: 0;
  background: var(--background);
  background: linear-gradient(135deg, var(--background) 0%, var(--background-dark) 100%);
  height: 100vh;
  transition: 0.2s cubic-bezier(0.51, 0.69, 0.46, 0.96);
}

.main {
  overflow: hidden;
  max-height: 100vh;
  transition: 0.2s cubic-bezier(0.51, 0.69, 0.46, 0.96);
}
