.headin {
    font-size: 64px;
}

.newProject {
    font-size: 18px;
    background: var(--background-dark);
    font-family: "JetBrains Mono";
    color: var(--special-color);
    padding: 6px 24px;
    border-radius: 50px;
    display: flex;
    height: 48px;
    align-items: center;
    transition: 0.2s cubic-bezier(0.51, 0.69, 0.46, 0.96) color background-color;
}

@media only screen and (max-width: 750px) {
    .headin {
        font-size: 48px;
    }
}