.backdrop {
  z-index: 50;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  backdrop-filter: blur(2px);
}

.denyCreate {
  padding: 8px 12px;
  font-family: 'DM Sans';
  color: var(--red);
  border-radius: 50px;
  font-weight: 700;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.denyCreate:hover {
  transform: scale(1.1);
  cursor: pointer;
  background: var(--red);
  color: #17191b;
  box-shadow: 0px 0px 24px var(--red);
}

.create {
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: 800;
}

.project {
  transition: 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 32px;
}

.detailsForm,
.details {
  transition: 0.3s ease-in-out;
}

.details form textarea {
  transition: 0.1s cubic-bezier(0.51, 0.69, 0.46, 0.96);
  resize: none;
  background: var(--background-dark);
  border-radius: 18px;
  border: 0px none;
  padding: 12px;
  font-family: 'DM Sans';
  height: 160px;
  color: var(--special-color);
  font-size: 16px;
  margin-bottom: 14px;
}

.details {
  width: 280px;
  padding: 8px 24px;
}

.details form {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  transition: 0.1s cubic-bezier(0.51, 0.69, 0.46, 0.96);
}

.name input {
  max-width: 200px;
  font-size: 32px;
  background: transparent;
  border-radius: 0px;
  border: 0px solid transparent !important;
  border-bottom: 2px var(--background-slight-dark) solid !important;
  padding: 0px;
  transition: 0.1s cubic-bezier(0.51, 0.69, 0.46, 0.96);
}

.details form .name {
  display: flex;
  align-items: center;
  font-size: 28px;
}

.save {
  width: -moz-available;
  width: -webkit-fill-available;
  color: #17191b;
  padding: 12px 24px;
  border: 5px solid #17191b;
  background: var(--green);
  font-family: 'DM Sans';
  font-size: 20px;
  border-radius: 50px;
  margin: 0px 24px;
  font-weight: 900;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.save:hover {
  transform: scale(0.98);
  cursor: pointer;
  box-shadow: 0px 0px 24px #17191b;
}

.save:active {
  transform: scale(0.91);
  border: 3px solid #17191b;
}

.save:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.fork {
  width: -moz-available;
  width: -webkit-fill-available;
  color: #17191b;
  padding: 12px 24px;
  border: 5px solid #17191b;
  background: var(--purple);
  font-family: 'DM Sans';
  font-size: 20px;
  border-radius: 50px;
  margin: 0px 24px;
  font-weight: 900;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.fork:hover {
  transform: scale(0.98);
  cursor: pointer;
  box-shadow: 0px 0px 24px #17191b;
}

.fork:active {
  transform: scale(0.91);
  border: 3px solid #17191b;
}

.fork:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.edit {
  width: -moz-available;
  width: -webkit-fill-available;
  color: #17191b;
  padding: 12px 24px;
  border: 5px solid #17191b;
  background: var(--orange);
  font-family: 'DM Sans';
  font-size: 20px;
  border-radius: 50px;
  margin: 0px 24px;
  font-weight: 900;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.edit:hover {
  transform: scale(0.98);
  cursor: pointer;
  box-shadow: 0px 0px 24px #17191b;
}

.edit:active {
  transform: scale(0.91);
  border: 3px solid #17191b;
}

.edit:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.optionGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 16px;
  grid-template-areas:
    '.'
    '.'
    '.';
}

.optionGrid div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--special-color);
  user-select: none;
  font-family: 'DM Sans';
  font-size: 20px;
}

.optionGrid div p {
  margin: 0px;
  font-weight: 700;
}

.prettier {
  display: flex;
  align-items: center;
  gap: 16px;
}

.prettier button {
  font-family: 'JetBrains Mono';
  border: 2px solid var(--background-darker);
  border-radius: 12px;
  font-weight: 800;
  font-size: 18px;
  padding: 10px;
  display: flex;
  color: var(--special-color);
  background-color: initial;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.upload {
  cursor: pointer;
  border: 2px solid var(--background-darker);
  border-radius: 50px;
  font-weight: 800;
  font-size: 22px;
  padding: 8px;
  display: flex;
  color: var(--special-color);
  background-color: transparent;
  background-color: initial;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: inline-flex;
  align-items: center;
}

.dropzone {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  z-index: 60;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outputTxt {
  padding: 8px;
  font-family: 'JetBrains Mono';
  background: var(--code-editor);
  margin: 0px;
}

.outputPane {
  border-top: 3px solid var(--background-dark) !important;
}

.dropNotif {
  padding: 12px;
  background: var(--background-slight-dark);
  border-radius: 20px;
  border: 3px solid var(--background-darker);
  width: 50vw;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  pointer-events: none;
  transform: scale(0.9);
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropNotif h2 {
  margin: 0px;
  font-family: 'DM Sans';
  color: var(--special-color);
}

.dropNotif p {
  margin: 0px;
  font-family: 'JetBrains Mono';
}

.fileUploadBox {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: column;
  padding: 14px 16px;
  border-radius: 8px;
  background: var(--background-dark);
  display: flex;
}

.fileUploadBox p {
  font-size: 15px;
  text-align: center;
}
