.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 24px;
    height: fit-content;
    padding-bottom: 0px;
}

.updates {
    width: auto;
    min-height: 150px;
    padding: 12px 16px;
    border-radius: 12px;
    display: flex;
    background: rgba(--background-rgb, 0.8);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    gap: 12px;

    border: 1px solid #343434;
    position: relative;
    box-shadow: 0 5px 30px -5px rgba(0,0,0,.1);
}

.updates h1, .updates p {
    margin: 0;
}